# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
.build
/dist
.dist
.prod

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
.MACOS__

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
